*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERALI */
body{
    font-family: 'Roboto', sans-serif;
    background-color: white;
}
.flex-container{
    display: flex;
}
ul{
    list-style: none;
}
.big-container{
    max-width:1100px;
    margin: 0 auto;
}
.small-container{
    max-width: 850px;
    margin: 0 auto;
}
.bottone{
    background-color: #0061ff;
    color:white;
    text-align: center;
    padding:10px;
}
.bottone:hover{
    cursor: pointer;
    background-color: #5f98f2;
}
.linea-grigia{
    height: 1px;
    width:80px;
    background-color: gray;
    margin-top:30px;
}
.relative{
    position: relative;
}


/* HEADER */
header{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    display: flex;
    z-index: 30;
    justify-content: space-between;
    height:60px;
    padding:0 10px;
}
header ul > li{
    padding:15px 0 15px 0;
    font-size:11px;
    line-height:30px;
    text-align: center;
    margin-left: 30px;
}
header ul > li:hover{
    border-bottom:2px solid #0061ff;
    cursor: pointer;
}
header ul > .bottone{
    margin-top:15px;
    line-height: 0;
    height:30px;
    padding:15px 20px;
}
.bottone:hover, header ul:nth-child(1) li:nth-child(1){
    border: none;
}
.funzioni{
    background-color: #e8e1d7;
    margin-top: 15px;
    display: none;
}
.funzioni li{
    padding:10px;
    margin: 0;
}
.funzioni li:hover{
    border: none;
    background-color: #0061ff;
    color: white;
}
#funzioni:hover .funzioni{
    display: block;
}







/* MAIN */

/* Jumbo */
main{
    margin-top:60px;
}
.jumbo{
    padding-top:60px;
    background-color: #b4d0e7;
}
h1{
    font-weight: 700;
    font-size: 4em;
    margin-bottom:70px;
}
.jumbo img{
    width:700px;
    position: absolute;
    top:0;
    left:40%;
}
#testo-jumbo{
    width:40%;
}
#testo-jumbo > .bottone{
    margin:40px 0 40px;
    width:220px;

}
.jumbo i {
    font-size: 40px;
    margin-top: 60px;
    margin-bottom: 30px;
}
#testo-jumbo > a{
    color: black;
}


/* Business */
.business{
    padding-top: 150px;
}
h2{
    margin-bottom:50px;
}
.business > .dot{
    display: inline-block;
    width:20px;
    height:20px;
    border-radius: 50%;
    border: 1px solid lightgray;

}
.business > .blue{
    border: 5px solid #0061ff;
}
.business > span{
    margin-right:20px;
}
.card-container{
    width:100%;
    height:1050px;
    justify-content: space-between;
    margin-top: 50px;
    flex-wrap: wrap;
}
.card{
    width: calc(100%/3 - 15px);
    border:1px solid gray;
}



.card > .top-card{
    text-align: center;
    padding:10px 0;
    border-bottom: 1px solid gray;
}
.card > .bottom-card{
    padding: 0 40px 30px 30px;
    font-size:13px;
}
.card > .bottom-card > p{
    margin-top:20px;
}
.card > .bottom-card > p:nth-child(3){
    color:grey;
    margin-bottom:40px;
}
.card > .bottom-card ul li{
    margin-top:20px;
    text-indent: -7px;
}
.card > .bottom-card .bottone{
    margin:30px 0;
}
.card > .bottom-card > ul .blue-check{
    color:#0061ff;
}

.last{
    width:100%;
    height:300px;
    margin-top:15px;
}
.last > .bottom-card{
    justify-content: space-between;
}
.last > .bottom-card p:nth-child(3){
    margin-top:80px;
}





/* Partner */
.partner{
    justify-content: space-between;
    margin-top:170px;
}
.partner img{
    width: 55%;
}
.partner div{
    width:40%;
    margin-top:50px;
    margin-right:20px;
}
h3{
    margin-bottom: 20px;
    margin-top: 30px;
}
.partner .bianco{
    border:2px solid black;
    background-color: white;
    color: black;
    font-size: 12px;
    margin-top:50px ;
}
.partner .bianco:hover, .aziende-due .bottone:hover{
    cursor: pointer;
    background-color: rgb(222, 218, 218);
}

/* Operazioni */
.operazioni > h2{
    margin-top:120px;
}
.operazioni > div{
    justify-content: space-between;
    flex-wrap: wrap;
}
.operation-card{
    width:calc(100%/3 - 10px);
    margin-bottom: 80px;
    
}
.operation-card img{
    width:100%;
}
.operazioni a{
    font-size: 12px;
}

/* Aziende */
.aziende{
    display: flex;
    justify-content: space-between;
    margin-top:100px;
}

.container-aziende{
    width: calc(100%/3);
    height:calc(100vw/3);
    flex-wrap: wrap;
}
.container-aziende > div{
    width:50%;
    height:50%;
    justify-content: center;
    align-items: center;
}

.container-aziende:nth-child(2){
    padding:50px;
    font-size:13px;
    overflow: auto;
}
.container-aziende:nth-child(2) img{
    width:50%;
}
.container-aziende:nth-child(2) .linea-grigia{
    height:2px;
    width:80px;
}

.container-aziende:nth-child(2) p{
    margin-top:60px;
}


.container-aziende > div > img{
    width:60%;
    filter: invert(1);
}
.container-aziende:nth-child(1) > div:nth-child(1){
    background-color: #a2d39b;
    border:20px solid #d1e9cd;
}
.container-aziende:nth-child(1) > div:nth-child(2){
    background-color: #61082b;
}

.container-aziende:nth-child(1) > div:nth-child(3){
    background-color: #0093ce;
}

.container-aziende:nth-child(1) > div:nth-child(4){
    background-color: #ff1c1c;
}
.container-aziende:nth-child(3) > div:nth-child(1){
    background-color: #d5001f;
}
.container-aziende:nth-child(3) > div:nth-child(2){
    background-color: #b4d0e7;
}
.container-aziende:nth-child(3) > div:nth-child(3){
    background-color: #0d2481;
}
.container-aziende:nth-child(3) > div:nth-child(4){
    background-color: #ffd830;
}

.container-aziende:nth-child(2){
    background-color: #f5f5f5;
}


/* Azienda numero due */
.aziende-due{
    background-color: #b4d0e7;
    padding:100px 0;
}
.aziende-due div{
    justify-content: space-between;
    align-items: center;
}
.aziende-due h2{
    margin-bottom:0;
    color: #7d3b3b;
    line-height: 35px;
}
.aziende-due  .bottone{
    background-color: white;
    color: black;
    font-size: 13px;
    padding:15px 25px;
}


/* Domande */
.domande-frequenti{
    padding:100px 0;
}
.domanda{
    padding: 30px 40px 30px 0;
    border-top: 1px solid black;
}
.domanda span{
    font-weight: 700;
}
.domanda:nth-last-of-type(1){
    border-bottom: 1px solid black;
}
.domanda span > i{
    margin-left:190px;
}
.domanda p{
    margin-top:30px;
    display:none;
}
.domanda:hover{
    cursor: pointer;
}
.domanda:hover p{
    display: block;
}
.domanda:hover span > i{
    transform: rotate(180deg);
}




/* FOOTER */
footer{
    background-color: black;
    color: white;
    padding:60px 0;
}
footer div{
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-list{
    width:calc(100%/5 - 5px);
    height:200px;
}
.footer-list li{
    margin-bottom:15px;
    font-weight: 300;
    font-size: 12px;
}
.footer-list li:hover{
    cursor:pointer;
}
.footer-list li:nth-child(1){
    font-weight: 700;
}

.lingua{
    border-top:2px solid gray;
    font-size: 12px;
    color:lightgray;
    margin-top: 50px;
    padding-top: 30px;
    width: 120px;
}